/* YOUR CUSTOM STYLES */
.primary-text {
    color: #4285F4; }

.danger-text {
    color: #ff3547; }

.warning-text {
    color: #FF8800; }

.success-text {
    color: #00C851; }

.info-text {
    color: #33b5e5; }

.default-text {
    color: #2BBBAD; }

.secondary-text {
    color: #aa66cc;
}

b, strong{
    font-weight: bold;
}

html, body{
    height: 100%;
}